name: Swift

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: macos-15
    steps:
    - uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: latest

    strategy:
      matrix:
        xcodebuild-destination: ['platform=iOS Simulator,name=iPhone 16', 'platform=macOS']
        xcodebuild-command: ['build', 'test']

    steps:
    - uses: actions/checkout@v3
    - name: Build and run tests for the matrix
      run: xcodebuild ${{ matrix.xcodebuild-command }} -scheme NautilusTelemetry-Package -destination "${{ matrix.xcodebuild-destination }}"
